@media (max-width: 375px) {

    body {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 375px;
    }


    .logo {

        display: flex;
        width: 40px;
        height: 20px;
    }


    header {

        width: 375px;
        display: flex;
        background-image: url(../images/mobile/image-header.jpg);

    }

    header .menu-header {

        display: none;
    }


    .button-hamb {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        position: sticky;
        background: none;
        right: 30px;
        z-index: 2;
        align-items: center;
        justify-content: center;
    }

    .menu-header-hamb {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;
    }

    .menu-header-hamb input {

        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

    .menu-hamburguer {

        animation-name: closeMenu;
        animation-duration: 1s;
    }

    .menu-hamburguer.on {

        display: flex;
        position: absolute;
        width: 50%;
        height: 100%;
        align-self: flex-end;
        background-color: var(--footer);
        padding-top: 50px;
        z-index: 1;
        transition: 0.8s;

        animation-name: openMenu;
        animation-duration: 1s;
    }

    .dark-backg.on {

        height: 100%;
        width: 100%;
        background-color: black;
        position: absolute;
        opacity: 0.3;
    }


    @keyframes openMenu {

        from {

            width: 0%;

        }

        to {

            width: 50%;

        }
    }

    @keyframes closeMenu {

        from {
            width: 50%;
        }

        to {
            width: 0%;
        }
    }


    section {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 375px;
        align-items: center;
        justify-content: center;
    }


    footer {

        display: flex;
        width: 375px;
        align-items: center;
        justify-content: center;
    }

    .content-egg-yellow {
        order: 1;
    }

    .content-egg-yellow,
    .content-cup-rose {

        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;

    }

    .backg-egg-yellow {
        background-image: url(../images/mobile/image-transform.jpg);
    }

    .backg-cup-rose {
        background-image: url(../images/mobile/image-stand-out.jpg);
    }

    .backg-cherry-green {
        background-image: url(../images/mobile/image-graphic-design.jpg);
    }

    .backg-orange-blue {
        background-image: url(../images/mobile/image-photography.jpg);
    }

    .backg-egg-yellow,
    .backg-cup-rose {

        display: flex;
        width: 100%;
        height: 360px;
        padding-top: 50px;
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: center;

    }

    .backg-cherry-green,
    .backg-orange-blue {

        display: flex;
        width: 100%;
        height: 550px;
    }

    .backg-cherry-green div,
    .backg-orange-blue div {

        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
    }


    .testimonials {

        display: flex;
        flex-direction: column;
        max-width: 300px;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 0px;
    }

    .emily-div,
    .thomas-div,
    .jennie-div {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 290px;

    }

    .backg-milk-blue {
        background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
    }

    .backg-sliceorange-orange {
        background-image: url(../images/mobile/image-gallery-orange.jpg);
    }

    .backg-sugarcone-blue {
        background-image: url(../images/mobile/image-gallery-cone.jpg);
    }

    .backg-cubepink-pink {
        background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
    }

    .backg-milk-blue,
    .backg-sliceorange-orange,
    .backg-sugarcone-blue,
    .backg-cubepink-pink {

        width: 50%;
        height: 50%;
        background-position: center;
    }

    .icones {

        display: flex;
        align-items: center;

    }


    .attribution {

        display: none;
    }


}